* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  transition: 0.35s;
}
.btn:hover {
  background-color: #000;
  color: white;
}
.btn.active {
  background-color: green;
  color: white;
}

.menu {
  display: flex;
}
.menu li {
  padding: 10px 16px;
}
.menu li.active {
  background-color: skyblue;
}

.wrap {
  padding: 20px;
  border: 1px solid #000;
}
.modal {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  background-color: #494949;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  padding: 20px;
}
.modalWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #0000008a;
}
.modalClose {
  text-align: end;
}
.modalBody h3 {
  margin-bottom: 20px;
}
